<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets 
      '@InfuseDictionaryBundle/Resources/public/css/bootstrap.min.css'
      '@InfuseDictionaryBundle/Resources/public/css/main.css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="{{ url('word') }}">Startup Dict.</a>
          <ul class="nav">
            {% for i in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','0-9'] %}
            <li><a href="{{ path('word_letter', {'letter': i}) }}">{{ i }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% block body %}{% endblock %}
      <div class="footer row">
        <div class="span4">
          <h4>Informations</h4>
          <ul class="unstyled">
            <li><a href="{{ url('about') }}">About us</a></li>
          </ul>
        </div>
        <div class="span4">
          <h4>Contribute</h4>
          <ul class="unstyled">
            <li><a href="{{ url('word_new') }}">Add a definition</a></li>
          </ul>
        </div>
        <div class="span4"></div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    {% javascripts '@InfuseDictionaryBundle/Resources/public/js/bootstrap.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
  </body>
</html>