{% extends 'InfuseDictionaryBundle::layout.html.twig' %}

{% block body -%}
    <h1>Word edit</h1>

    <form action="{{ path('word_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="control-group">
            {{ form_label(form.word, 'Word', {label_attr: {class: 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.word, {attr: {class: 'input-block-level'}}) }}
                {{ form_errors(form.word) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.definition, 'Definition', {label_attr: {class: 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.definition, {attr: {class: 'input-block-level'}}) }}
                {{ form_errors(form.definition) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.example, 'Example', {label_attr: {class: 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.example, {attr: {class: 'input-block-level'}}) }}
                {{ form_errors(form.example) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <input type="hidden" name="_method" value="PUT">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Edit</button>
            <a href="{{ path('word_show', {'slug': entity.slug}) }}" class="btn">Cancel</a>
        </div>
    </form>

    {% if delete_form is defined %}
    <form action="{{ path('word_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% endif %}
</ul>
{% endblock %}