{% extends 'InfuseDictionaryBundle::layout.html.twig' %}

{% block body -%}
    <h1>Word list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Word</th>
                <th>Definition</th>
                <th>Example</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('word_show', { 'slug' : entity.slug}) }}">{{ entity.word }}</td>
                <td>{{ entity.definition }}</td>
                <td>{{ entity.example }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('word_show', { 'slug': entity.slug }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('word_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="unstyled">
        <li>
            <a href="{{ path('word_new') }}" class="btn">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
